
<div class=" mt-3 mb-3">
    <h4 class="heading">Data Binding</h4>
    <div class="main-container">
        <h2># Here we use Data Binding</h2>
        <div class="mt-3">
            <h4> 1. One way Data Binding</h4>
            <p>with the help of one way data binding you can show any string or value in HTML</p>
            <h5>{{text1}}</h5>
        </div>
        <div class="mt-5">
            <h4>2. Two way Data Binding</h4>
            <p>with the help of two way data binding you can show any string or value in HTML and change their value </p>
            <input type="text" [(ngModel)]="text2" placeholder="ente name">
            <h5 class="mt-3">{{text2}}</h5>
        </div>
    </div>
</div>
