<div class=" mt-4 mb-5">
  <h4 class="intro-heading">Introduction</h4>
  <div class="main-container">
    <h1 style="color: yellow;">What is Angular...?</h1>
    <p class="intro">Angular is a popular javascript framework, It is used to make single-page applications (SPAs)</p>
    <p class="intro">
      A component-based framework for building scalable web applications
    </p>
    <h4 class="subHeading" >
      #. Angular provides a comprehensive set of tools and libraries for building complex web applications, including:
    </h4>
    <p class="intro">
      - Templates <br>
      - Binding ( One-way data binding & Two-way data binding ) <br>
      - Dependency injection <br>
      - Routing and navigation <br>
      - Forms and validation <br>
      - Services and HTTP requests <br>
      - Modules and lazy loading <br>
      - Guards <br>
      - Standalone Components <br>
      - Decorators <br>
      - Directives ( Structural & Attribute )
    </p>
    <h4 class="subHeading">
      #. Angular uses HTML, CSS, and TypeScript (a superset of JavaScript) to create robust, scalable, and maintainable applications. 
      Its core features include:
    </h4>
    <p class="intro">
      - Component-based architecture <br>
      - Services for managing application logic <br>
      - Robust routing and navigation <br>
    </p>
  </div>
</div>