.heading{
    color: aliceblue;
    background-color: #323272;
    padding: 5px;
}
.container{
    padding: 20px;
    background-color: rgb(241, 187, 198);
    /* height: 100%; */
    padding-bottom: 50px;
}
.title{
    padding: 20px;
}