*{
    padding: 0px;
    margin: 0px;
}
.header{
    /* border-bottom: 2px solid #323272; */
    background-color: #323273;
    position: sticky;
    width: 100%;
    padding: 8px;
    top: 0;
    color: aliceblue;
}
.header-logo{
    color: #cbc7c7;
    font-size: 35px;
    font-style: italic;
}
i{
    color: #cbc7c7;
    padding-left: 90px;
}
.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* height: calc(100vh - 1px); */
    /* height: 100%; */
}
.main-container{
    overflow-y: auto;
    height: 100%;
    display: block;
    width: calc(100% - 20px);
    padding-top: 8px;
    /* padding-right: 10px; */
    padding-left: 280px;
    font-family: serif;
}
.sidenav {
    overflow-y: auto;
    height: 100%;
    width: 255px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 18vh;
    position: fixed;
    scroll-behavior: auto;
}
.sidenav a:hover {
    color: lightgoldenrodyellow;
    background-color: #323272;
    transition: 0.9s;
    padding-bottom: 5px;
}
.sidenav a {
    padding: 2px 2px 2px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #323272;
    display: block;
    font-weight: 300;
    font-family: serif;
}
.footer{
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #323272;
    color: #cbc7c7;
    text-align: center;
    border-top: 2px solid #323272;
}