<div class="header">
  <h4 class="header-logo">Nit's...! <span><i class="fa fa-bars"></i></span></h4>
</div>
<div class="main">
  <div class="sidenav">
    <a routerLink="dashboard">Dashboard</a>
    <a routerLink="about">About</a>
    <a routerLink="registration">Reactive Form</a>
    <a routerLink="template-form">Template Form</a>
    <a routerLink="formArray">Form Array</a>
    <a routerLink="data-comunication/parent">Data Passing</a>
    <a routerLink="data-binding">Data Binding</a>
    <a routerLink="guardModule/form1">Guards</a>
    <a routerLink="validators">Validators</a>
    <a routerLink="directives">Directives</a>
    <a routerLink="pipes">Pipes</a>
    <a routerLink="commonControls">Common Controls</a>
    <a routerLink="popup">Modal Popup</a>
    <a>Javascript</a>
    <a>CSS3</a>
    <a>Jquery</a>
    <a>MySql</a>
    <a routerLink="test">Interview Que</a>
    <a (click)="onLogout()">LOgout</a>

  </div>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="footer">
  <div class="row">
    <div class="col">
        <h5>Learn More</h5>
    </div>
    <div class="col">
        <h5>Links</h5>
    </div>
    <div class="col">
        <h5>Contact Us</h5>
    </div>
    <div class="col">
      <h5>Email</h5>
  </div>
</div>
</div>


